/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body { padding-top: 70px; }

header { 
  position: fixed;
  right: 0;
  left: 0;
  height: 400px;
}

.bcg_header { height: 400px; }

.content_header { padding: 220px 0 0 25px; }

.content_header h1, .slogan { font-family: 'Open Sans', sans-serif; color: #fff; }

.content_header h1 {   
  font-weight: bold; 
  font-size: 85px;
}

.slogan { font-size: 25px; }

footer { padding: 30px 20px; }

#content_wrapper { 
  overflow: hidden; 
  position: relative; 
  margin: 420px 0 0 0; 
  z-index: 999; 
  background-color: #fff;
}

#content_wrap {}

#content_wrap img { width: 95%; }

#why_wrapper { background-color: #999; padding: 20px 0; }

#newsdrupal_wrapper { background-color: #eee; padding: 20px 0; }


#external_links { height: 150px; background-color: #999; }

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
