/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body { padding-top: 70px; }

h1 {}

h2 { padding: 0 0 15px 15px; }

header { 
  position: fixed;
  right: 0;
  left: 0;
  height: 400px;
}

.bcg_header { height: 400px; }

.content_header { padding: 220px 0 0 25px; }

.content_header h1, .slogan { font-family: 'Open Sans', sans-serif; color: #fff; }

.content_header h1 {   
  font-weight: bold; 
  font-size: 85px;
}

.slogan { font-size: 25px; }

#content_wrapper { 
  overflow: hidden; 
  position: relative; 
  margin: 420px 0 0 0; 
  z-index: 999; 
  background-color: #fff;
}

#content_wrap, #why_wrapper, #drupalsite_wrapper, 
#newsdrupal_wrapper, #aboutus_wrapper, #community_wrapper { padding: 35px 0 50px 0; }

#content_wrap {}

#content_wrap img { width: 95%; margin: 0 0 10px 0; }

#why_wrapper { background-color: #999; }

#why_wrapper img, #community_wrapper img { float: left; margin-right: 10px; }

#newsdrupal_wrapper { background-color: #eee; }

#content_wrap .btn-default, #drupalsite_wrapper .btn-default { margin: 40px 0 0 0; }

#aboutus_wrapper a { color: #fff; }

#aboutus_wrapper { background-color: #999; color: #fff; }

#aboutus_wrapper .block_links { border-right: solid 1px #888; }


footer { padding: 30px 20px; background-color: #eee; }

/*aboutus_wrapper
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
