/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body { padding-top: 70px; }

/*
* admin menu lager plaatsen
*/
#toolbar { margin-top: 50px;  }
.toolbar-menu { }

h1 {}

h2 { padding: 0 0 15px 15px; }

img { height: auto; }

.title_node { color: #428bca; }

header { 
  position: fixed;
  right: 0;
  left: 0;
  height: 400px;
}

.bcg_header { height: 400px; }

.content_header { padding: 220px 0 0 20px; }

.content_header h1, .slogan { font-family: 'Open Sans', sans-serif; color: #062f88; }

.content_header h1 {   
  font-weight: bold; 
  font-size: 85px;
}

.slogan { font-size: 25px; }

#links_wrapper { 
  overflow: hidden;
  position: relative; 
  margin: 420px 0 0 0; 
  z-index: 0; 
  background-color: #fff;
}

#links_wrap, #why_wrapper, #drupalsite_wrapper, #content_wrapper, 
#newsdrupal_wrapper, #aboutus_wrapper, #community_wrapper { padding: 35px 0 50px 0; }


#links_wrap img, #drupalsite_wrap img { width: 100%; margin: 0 0 10px 0; }

#drupalsite_wrap { margin-top: 10px; }

#drupalsite_wrap .btn_wrap { margin-left: 15px; }



#why_wrapper { background-color: #999; }

#why_wrapper img, #community_wrapper img { float: left; margin-right: 10px; }

/*
*news region
*/

#newsdrupal_wrapper { background-color: #eee; }

#newsdrupal_wrapper p { text-align: justify; }

#teaser_news_wrap { min-height: 350px; }

/**/

#content_wrap .btn-default, #drupalsite_wrapper .btn-default { margin: 40px 0 0 0; }

#aboutus_wrapper a { color: #fff; }

#aboutus_wrapper { background-color: #999; color: #fff; }

#aboutus_wrapper .block_links { border-right: solid 1px #888; }


footer { padding: 30px 20px; background-color: #eee; }

/*
* overlay system drupal sites moet dit zeker voor het responsief gedeelte nog instellen
*-----------------------------------------------
* todo dit stuk respnsief maken
* Drupal sites gedeelte op de home pagina
*/

.drupal_sites_wrap, .drupal_links_wrap {
  max-width: 500px;
  height: 360px;
  overflow: hidden;
  position: relative;
}

.drupal_links_wrap {
    margin: 0 0 30px 0;
}

.drupal_sites_wrap img, .drupal_links_wrap img {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: auto;
  height: 100%;
  float: left;
  transition: all 0.8s;
  -moz-transition: all 0.8s;
}

.drupal_sites_wrap .image_overlay, .drupal_links_wrap .image_overlay  {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 100%;
  padding: 5% 4%;
  color: rgba(255,255,255,1);
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.4s;
  background-color: #3253ad;
}

.drupal_sites_wrap:hover .image_overlay, .drupal_links_wrap:hover .image_overlay {
  display: block !important;
  color: rgba(255,255,255,1);
  background:rgba(50,83,173,0.90);
  left: 0px;
  top: 0px;
}

.drupal_sites_wrap .url, .drupal_links_wrap .url {
    margin: 25px 0 0 0;
}

.drupal_sites_wrap .url a, .drupal_links_wrap .url a {
  padding: 24px 0 24px 54px;
  background: url("../images/url_icon.png") no-repeat left center;
}

.drupal_sites_wrap .url a:hover, .drupal_links_wrap .url a:hover {
    color: #fff;
    /*background: url("../images/url_icon_hover.png") no-repeat left center;*/
}

/*
* Drupal sites gedeelte op de lees meer pagina deze code zorgt voor
* het verwisselen van uitzicht van deze view tussen list (table) en grid (grid)
*/

.grid-view #drupalsites_pagewrap { /* deze div is ingesteld in de page Drupal sites view */
    width: 230px;
    float: left;
    margin: 0 20px 10px 0;
    min-height: 380px;
    border: solid 1px #cbcbcb;
    padding: 0 15px 0 15px;
}

.grid-view #drupalsites_pagewrap h2, .list-view #drupalsites_pagewrap h2 {
    font-size: 18px;
    color: #428bca;
    padding: 0 0 15px 0;
}

.grid-view #drupalsites_pagewrap .drupalsites_url,
.list-view #drupalsites_pagewrap .drupalsites_url {
    margin: 0 0 15px 0;
}

.grid-view #drupalsites_pagewrap .drupalsites_info,
.list-view #drupalsites_pagewrap .drupalsites_info{
    margin-top: 10px;
}

.list-view #drupalsites_pagewrap {
    width: 49%;
    min-height: 270px;
    padding: 0 10px 10px 10px;
    border: solid 1px #cbcbcb;
    margin: 0 15px 15px 0;
    float: left;
}

.list-view #drupalsites_pagewrap .printscreen_img {
    padding: 0 20px 0 0;
    float: left;
}

.list-view #drupalsites_pagewrap img {}

.weergave { margin: 15px 0 30px 0; }

.text_weergave { float: left; padding: 2px 10px 0 0; }

.gallerij_weergave { margin: 0 15px 0 0; float: left; }

/*aboutus_wrapper
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

}
